<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body>
    <h1>Welcome to this Employee Management Website</h1>
    <span><a class="" href="/login.html" th:href="@{/login}">Login</a> </span>
    <span>New user? <a class="" href="/registration.html" th:href="@{/registration}">Register here.</a></span>
</body>

<footer>
    <footer>
        <h6 class="position-absolute bottom-0 end-0 m-1">&copy Matthew Pachapa 2022</h6>
    </footer>
</footer>

</html>

