<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body class="light-blue">
    <h1 class="center">Welcome to this Employee Management Website</h1>
    <hr>
    <section class="center">
        <span><a class="animate-zoom" href="/login.html" th:href="@{/login}">Login</a> </span>
        <span>New user? <a class="animate-zoom" href="/registration.html" th:href="@{/registration}">Register here.</a></span>
    </section>
</body>

<footer>
    <footer>
        <h6 class="position-absolute bottom-0 end-0 m-1">&copy Matthew Pachapa 2022</h6>
    </footer>
</footer>

</html>

