<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body class="light-blue">
    <h1 class="auto">Welcome to this Employee Management Website</h1>
    <hr>
    <section class="auto padding-64">
        <span><a class="animate-zoom" href="/login.html" th:href="@{/login}"><button class="pale-blue border-pale-blue hover-blue hover-border-blue">Login</button></a> </span>
        <span>New user? <a class="animate-zoom" href="/registration.html" th:href="@{/registration}"><button class="pale-green border-pale-green hover-green hover-border-green">Register here</button></a></span>
    </section>
</body>

<footer>
    <footer>
        <h6 class="right-align bottom auto">&copy Matthew Pachapa 2022</h6>
    </footer>
</footer>

</html>

