<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/index.css" rel="stylesheet">
    <link rel="icon" href="img/thehands.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <!-- Nav Bar -->
<!--    <nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--        <div class="container">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--                    <span class="sr-only">Toggle Navigation</span>-->
<!--                    <span class="icon-bar"></span> <span clas="icon-bar"></span> <span clas="icon-bar"></span>-->
<!--                </button>-->
<!--                <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <br><br>

    <!-- Login Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>User Login</h1>
                <form th:action="@{/login}" method="POST">
                    <!-- Error Message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Username or Password</div>
                    </div>

                    <!-- Logout Message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have successfully logged out.</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">Register here.</a></span>
                </div>
            </div>
        </div>
    </div>

</body>

<footer>
    <footer>
        <h6 class="position-absolute bottom-0 end-0 m-1">&copy Matthew Pachapa 2022</h6>
    </footer>
</footer>
</html>