<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registraion</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="icon" href="../static/img/thehands.png">
</head>

<body>
    <br><br>
    <!-- html form -->
    <section class="container">
        <div class="row">
            <div class="column-6 col-md-offset-3">
                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info"> You have successfully registered your account! </div>
                </div>
                <h1>Registration</h1>
                <form th:action="@{/registration}" method="POST" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="firstName">First Name </label>
                            <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus">
                        <label class="control-label" for="lastName">Last Name </label>
                            <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus">
                        <label class="control-label" for="email">Email </label>
                            <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                        <label class="control-label" for="password">Password </label>
                            <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? Click <a href="/" th:href="@{/login}">here.</a></span>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

<footer>
    <footer>
        <h6 class="position-absolute bottom-0 end-0 m-1">&copy Matthew Pachapa 2022</h6>
    </footer>
</footer>
</html>